
/* Style général */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex: 1;
}

/* Style de l'en-tête */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header h1 {
    font-family: 'Syne';
    margin: 0;
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

header h1 span {
    display: block;
    font-weight: 400;
	font-size: 10px;
    color: #B1663C;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

li:hover {
	font-weight: bold;
    color: black;
}

.logoInst {
    width: 24px;
    height: 24px;
}

/* Style de la section de connexion */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.login section {
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    width: 300px;
}

.login h2 {
    margin-bottom: 20px;
    font-family: 'Syne', sans-serif;
    color: #1D6154;
	font-weight: 700;
	font-size: 30px;
}

.login label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
}

.login input[type="email"],
.login input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    Width: 379px;
	Height: 51px;
    border-radius: 5px;
	box-shadow: 0px 4px 14px 0px #00000017;
    border: none;
}

.login input[type="submit"] {
    font-family: 'Syne';
	font-weight: 700;
    font-size: 14px;
	color: white;
    border-color: #1D6154;
	background-color: #1D6154;
	margin : 2em auto ;
	Width: 179px;
	Height: 36px;
	text-align: center;
	border-radius: 60px ;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background-color: #1D6154;
}

.mot.de.passe.oublie {
    display: block;
    color: black;
    text-decoration: none;
}

.mot.de.passe.oublie:hover {
    text-decoration: underline;
}

/* Style du pied de page */

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: black;
}

footer li {
	display: flex;
    justify-content: right;
	margin: 20px 50px;
}
